<div class="details-view" >
  <%= scrivito_details_for 'Background Color' do %>
    <%= scrivito_tag(:div, widget, :background_color, data: {colors_list: widget.selectable_color_classes})  %>
  <% end %>

  <%= scrivito_details_for 'Margin top and bottom' do %>
    <%= scrivito_tag(:div, widget, :padding_size) %>
  <% end %>
</div>
