<div class="details-view" >
  <%= scrivito_details_for 'Background Color' do %>
    <%= render 'scrivito_advanced_editors/color_picker', widget: widget, attribute: :background_color  %>
  <% end %>
</div>
