<section class="scrivito_section_content_widget <%= widget.background_color %> section_padding_<%= widget.padding_size %> <%= widget.styles.join(' ') %>">
  <%= scrivito_tag(:div, widget, :section_content, class: 'container') %>
</section>