<div class="scrivito_editing_widget_visualization">
  <%= image_tag("section_content.png") %>
</div>

<div class="scrivito_editing_widget_title">
  Section for content
</div>

<div class="scrivito_editing_widget_description">
  Add a section for your content. A Section can have a Background color to seperate some content.
</div>
