.scrivito_section_content_widget.section_padding_small {
  padding: 20px 0;
}

.scrivito_section_content_widget.section_padding_medium {
  padding: 40px 0;
}

.scrivito_section_content_widget.section_padding_large {
  padding: 60px 0;
}

.scrivito_section_content_widget.border-top {
  border-top: 1px solid #eaebea;
}

.scrivito_section_content_widget.border-bottom {
  border-bottom: 1px solid #eaebea;
}
