.scrivito_section_parallax_widget {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.scrivito_section_parallax_widget .parallax-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.scrivito_section_video_widget video {
  width: 100%;
  display: block;
}

.scrivito_section_video_widget .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.scrivito_section_video_widget .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scrivito_section_content_widget,
.scrivito_section_video_widget {
  position: relative;
  z-index: 1;
}