.scrivito_section_parallax_widget {
  position: relative;
  overflow: hidden;
  min-height: 100px;
  z-index: 0;
}

.scrivito_section_parallax_widget .parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scrivito_section_parallax_widget .parallax-image {
  position: absolute;
  left: 50%;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.scrivito_section_video_widget video {
  width: 100%;
  display: block;
}

.section_speed_fixed {
  background-size: cover !important;
}

.scrivito_section_video_widget .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.scrivito_section_video_widget .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scrivito_section_content_widget,
.scrivito_section_video_widget {
  position: relative;
  z-index: 1;
}
