<section class="parallax scrivito_section_parallax_widget" style="max-height: <%= widget.height %>">
  <%= scrivito_image_tag widget, :background_image, class: "parallax-image" %>
  <%= scrivito_tag(:div, widget, :section_content, class: 'container') %>
</section>