<div class="scrivito_editing_widget_visualization">
  <%= image_tag("section_parallax.png") %>
</div>

<div class="scrivito_editing_widget_title">
  Parallax Section
</div>

<div class="scrivito_editing_widget_description">
  Add an image with parallax effect.
</div>
