<div class="scrivito_editing_widget_visualization">
  <%= image_tag("section_video.png") %>
</div>

<div class="scrivito_editing_widget_title">
  Video Section
</div>

<div class="scrivito_editing_widget_description">
  Add a background Video as section to your page.
</div>
